<section>
  <div class="container">
    <h1>Add Admin</h1>
    <form id="add-admin-form" action="/admin/add-admin" method="POST">
      <div class="form-group">
        <label for="username">name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Admin</button>
      <button type="reset" class="btn btn-secondary ml-2">Reset</button>
    </form>
  </div>
</section>