{{!-- ======================================== Admin Login Page ======================================== --}}

<section class="ftco-section">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">{{PLATFORM_NAME}}'s Admin Login</h2>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-4">

                <div class="login-wrap p-0">

                    <h3 class="mb-4 text-center">Enter Admin Credentials</h3>

                    <form class="signin-form" action="/admin/login" method="POST">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username/Email" id="email" name="email" required>
                        </div>

                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>

                        {{#if loginError}}
                        <div>
                            <p style="color: yellow;"><strong>{{loginError}}</strong></p>
                        </div>
                        {{/if}}

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Log In</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>