<section>
    
  <div class="container">

    <h1>Add Coupon</h1>


    {{!-- ==================================================== Add Coupon Form ==================================================== --}}

    <form id="add-coupon-form" action="/admin/add-coupon" method="POST">

      <div class="form-group">
        <label for="category Id">Coupon Code</label>
        <div class="input-group">
          <input type="text" class="form-control" id="couponCode" name="couponCode" required>
        </div>
      </div>

      {{#if couponExistError}}
      <div>
        <p style="color: red;">{{couponExistError}}</p>
      </div>
      {{/if}}

      <div class="form-group">
        <label for="Coupon description">Coupon Description:</label>
        <textarea class="form-control" id="couponDescription" name="couponDescription" rows="5" required></textarea>
      </div>

      <div class="form-group">
        <label for="Discount percentage">Discount percentage:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" min="1" max="99" step="1" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Max discount">Max discount Amount: </label>
        <div class="input-group">
          <input type="number" class="form-control" id="maxDiscountAmount" name="maxDiscountAmount" min="0" step="1" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Min order value">Min order value: </label>
        <div class="input-group">
          <input type="number" class="form-control" id="minOrderValue" name="minOrderValue" min="0" step="1" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Valid For">Valid For:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="validFor" name="validFor" min="1" max="180" step="1" placeholder="Number of days for which coupon is valid" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Coupon Status">Activate Coupon:</label>
        <select class="form-control" id="activeCoupon" name="activeCoupon" required>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>

      <br>

      
      {{!-- ========================== Form Submission Button ========================== --}}

      <button type="submit" class="btn btn-primary">Add Coupon</button>
      <button type="reset" class="btn btn-secondary ml-2">Reset</button>


    </form>

  </div>

</section>


