<style>
  .form-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .countdown {
    margin-top: 10px;
    font-size: 16px;
    color: red;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<div style="padding-top: 200px; padding-bottom: 100px;">

  <div class="form-container">

    <h2>OTP Validation for Password Reset</h2>

    <form id="otp-form" action="/forgot-password" method="post">

      <label for="otp">Enter your Email Id:</label>

      <input type="text" id="requestEmail" name="requestEmail" placeholder="Enter email ID Associated with your account.">

      {{#if userPasswordResetError}}
        <div>
            <p style="color: red;">{{userPasswordResetError}}</p>
        </div>
      {{/if}}

      <button type="submit">Generate OTP</button>

    </form>

  </div>

</div>