<!doctype html>

<html lang="en">

{{!-- ==============================HEAD============================== --}}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Style Sheet for basic animations in few pages -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">


  <title>{{title}}</title>


</head>


{{!-- ==============================BODY============================== --}}


<body>

{{!-- Code to determine which header file to choose according to the user type --}}
  {{#if admin}}
  {{>admin-header}}
  {{else if vendor}}
  {{>vendor-header}}
  {{else}}
  {{>user-header}}
  {{/if}}


  {{!-- HBS Code to inject body of the requested page --}}
  {{{body}}}

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Script File for Ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <!-- Script File in Public Folder -->
  <script src="/javascripts/script.js"></script>

</body>


</html>